@layer base {
  @font-face {
    font-family: 'upheavtt';
    src: url('../public/fonts/upheavtt.ttf') format('truetype');
  }
  @font-face {
    font-family: 'SilomBol';
    src: url('../public/fonts/SilomBol.ttf') format('truetype');
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .pixelated {
    image-rendering: pixelated;
  }
  img.lazyloaded {
    opacity: 1;
    transition: opacity 0.3s ease-out;
  }
}

* {
  /* font-family: 'Montserrat', sans-serif; */
  -webkit-font-smoothing: none;
}
.text_shadow {
  text-shadow: #ae9988 1.5px 1.5px;
}
.text_shadow2 {
  text-shadow: #ad9e91 1px 1px;
}

.title-color {
  color: #473a3c;
}

body {
  /* background: #1e293b; */
  color: #5c5349;
}

.jello-horizontal {
  animation: jello-horizontal 1.4s ease-in-out infinite;
}

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.1, 0.8, 1);
  }
  40% {
    transform: scale3d(0.8, 1.1, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.shake-vertical {
  animation: shake-vertical 3s ease-in-out infinite;
}
@keyframes shake-vertical {
  0%,
  100% {
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateY(-5px);
  }
  20%,
  40%,
  60% {
    transform: translateY(5px);
  }
  80% {
    transform: translateY(5px);
  }
  90% {
    transform: translateY(-5px);
  }
}
